<table>
    {{#each users}}
    <tr>
        <td>{{name}}</td>
        <td>{{address.street}}</td>
        <td>{{address.suite}}</td>
        <td>{{address.city}}</td>
        <td>{{address.zipcode}}</td>
        <td><a href="{{website}}">{{website}}</a></td>
    </tr>
    {{/each}}
</table>
<p>dziala</p>